/*
    BREAKPOINTS
*/
$large-phone: 450px;
$tablet: 768px;
$desktop: 1024px;

/*
    COLORS
*/
//
$black: #191919;
$black_90: rgba($black, 0.9);
$black_80: rgba($black, 0.8);
$black_70: rgba($black, 0.7);
$black_60: rgba($black, 0.6);
$black_50: rgba($black, 0.5);
$black_40: rgba($black, 0.4);
$black_30: rgba($black, 0.3);
$black_20: rgba($black, 0.2);
$black_10: rgba($black, 0.1);

// $white: #fff;
$white: #f5f5f5;
$white_90: rgba($white, 0.9);
$white_80: rgba($white, 0.8);
$white_70: rgba($white, 0.7);
$white_60: rgba($white, 0.6);
$white_50: rgba($white, 0.5);
$white_40: rgba($white, 0.4);
$white_30: rgba($white, 0.3);
$white_20: rgba($white, 0.2);
$white_10: rgba($white, 0.1);

// https://coolors.co/palette/ffaf87-ff8e72-ed6a5e-4ce0b3-377771
$primary: #ff8e72;
$primary_dark: #ed6a5e;
$primary_light: #ffaf87;
$secondary: #4ce0b3;
$secondary_dark: #377771;

$background: rgba($black, 1);
$text: rgba($white, 1);
