@use 'sass:color';
@import '../../index.scss';

.navbar {
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  background-color: $nav-background;
  box-shadow: 0 2px 8px 0px lighten($nav-shadow, 0.5);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;

  &__left {
    display: flex;
    align-items: flex-end;
    font-size: 4rem;
    gap: 1rem;
  }

  &__link {
    text-decoration: none;
    font-size: 2.5rem;
    color: $primary;
    // color: $accent;

    padding: 1rem;
    margin: 0 2rem;

    &:hover {
      border-bottom: 2px solid $secondary;
    }
  }
}
